@using ClienteNet6.Shared.Dto;

<div class="app-container ">
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <div class="card-body">
                <ErrorComponent Errors="Errors"></ErrorComponent>
                <EditForm Model="@VeiculoDto" OnValidSubmit="@(()=>IsValidSubmit())">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="renavam">Renavam</label>
                        <InputNumber id="renavam" @bind-Value=@VeiculoDto.Renavam class="form-control" placeholder="@VeiculoDtoCurr.Renavam" readonly />
                    </div>
                    <div class="form-group">
                        <label for="Placa">Placa</label>
                        <InputText id="Placa" @bind-Value=@VeiculoDto.Placa class="form-control"/>
                        <ValidationMessage For="@(()=>VeiculoDto.Placa)" />
                    </div>
                    <div class="form-group">
                        <label for="Chassi">Chassi</label>
                        <InputText id="Chassi" @bind-Value=@VeiculoDto.Chassi class="form-control" />
                        <ValidationMessage For="@(()=>VeiculoDto.Chassi)" />
                    </div>
                    <div class="form-group">
                        <label for="Modelo">Modelo</label>
                        <InputText id="Modelo" @bind-Value=@VeiculoDto.Modelo class="form-control" />
                        <ValidationMessage For="@(()=>VeiculoDto.Modelo)" />
                    </div>
                    <div class="form-group">
                        <label for="Cor">Cor</label>
                        <InputText id="Cor" @bind-Value=@VeiculoDto.Cor class="form-control" />
                        <ValidationMessage For="@(()=>VeiculoDto.Cor)" />
                    </div>
                    <div class="my-5 flex-row-reverse">
                        <button type="submit" class="btn btn-primary">
                            Atualizar veículo
                        </button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<VeiculoDto> OnValid { get; set; }

    [Parameter]
    public VeiculoDto? VeiculoDtoCurr { get; set; } = new();

    private VeiculoDto VeiculoDto = new();
    private List<string> Errors = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (VeiculoDtoCurr is null)
            return;

        VeiculoDto.Chassi = VeiculoDtoCurr.Chassi;
        VeiculoDto.Cor = VeiculoDtoCurr.Cor;
        VeiculoDto.Modelo = VeiculoDtoCurr.Modelo;
        VeiculoDto.Placa = VeiculoDtoCurr.Placa;
        VeiculoDto.Renavam = VeiculoDtoCurr.Renavam;
    }

    /// <summary>
    /// Verify if has change in models currently and old
    /// </summary>
    /// <returns>true : valid, false : invalid</returns>
    private bool IsValidSubmit()
    {
        Errors.Clear();

        if (VeiculoDtoCurr is null)
            return false;

        bool valid = false;

        if (VeiculoDtoCurr.Chassi != VeiculoDto.Chassi)
            valid = true;

        if (VeiculoDtoCurr.Cor != VeiculoDto.Cor)
            valid = true;

        if (VeiculoDtoCurr.Modelo != VeiculoDto.Modelo)
            valid = true;

        if (VeiculoDtoCurr.Placa != VeiculoDto.Placa)
            valid = true;

        if (valid)
        {
            OnValid.InvokeAsync(VeiculoDto);
        }
        else
        {
            Errors.Add($"Nenhuma alteração foi feita no veículo {VeiculoDto.Renavam}.");
        }

        return valid;
    }

}
